.sidebar-chat{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.sidebar-chat:hover{
    background: #3e93fd;
    color: white;
}

.sidebar-chat-info{
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebar-chat-info >small{
    position: absolute;
    top: 5px;
    right: 0;
}
