.sidebar-chat{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.sidebar-chat-active{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #3e93fd;
    color: white;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.sidebar-chat:hover{
    background: #3e93fd;
    color: white;
}

.sidebar-chat-info{
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebar-chat-info >h3{
    font-size: 15px;
}

.sidebar-chat-info >p{
    font-size: 13px;
}

.sidebar-chat-info >small{
    top: 5px;
    font-size: 11px;
    right: 0;
}

@media only screen and (min-width: 900px) {
    .sidebar-chat-info >small {
      position: absolute;
    }
  }
