.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login >img{
    object-fit: contain;
    height: 150px;
}

.login .login-form{
    padding: 10px;
    width: 300px;
}

.login .login-form input{
    overflow: auto;
    padding: 10px;
}

.login .login-form >button{
    
    margin-top: 10px;
    background-color: #3ea4fb;
    color: #eff2f5;
    font-weight: 800;
}

.login .loginform >button:hover{
    background-color: gainsboro;
    color: #3ea4fb;
}